*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    outline: none;
}

body{
    background: linear-gradient(to right, #00ffb3, #0077ff);;
}

.main{
    margin: 20px auto;
    max-width: 1100px;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    padding: 30px 2%;
    border-radius: 80px;
    position: relative;
    text-align: center;
}

.main h2{
    font-size: 45px;
    color: #fff;
    text-align: center;
}

.pokemon-boxes{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-box{
    margin: 20px 2%;
    border-radius: 20px;
    width: 29%;
    background-color: rgb(230, 230, 230, 0.69);
}

.pokemon-box img{
    width: 100%;
}

.pokemon-box p{
    color: black;
    font-size: 21px;
    text-align: center;
    padding: 10px 0 ;
    cursor: pointer;
    text-transform: capitalize;
}

#quantidade{
    width: 92%;
    height: 65px;
    padding: 20px;
    padding-left: 30px;
    background-color: rgba(255,255,255, 0.4);
    border: 0;
    border-radius: 20px;
    font-size: 23px;
    margin: 0 auto;
}

#popup{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.701);
    position: fixed;
    top: 0;
    bottom: 0;
}

#content{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #00ffb3, #0077ff);;; 
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 60%;
    border-radius: 20px;
    padding: 35px;
    text-align: center;
}

#content img{
    border: 1px solid snow;
    border-radius: 15px;
    width: 60%;
    max-height: 60%;
}

#content h3{
    margin: 0 auto;
    font-size: 25px;
    text-transform: capitalize;
    width: 60%;
    color: white;
}

#content p{
    margin: 10px auto 0px auto;
    color: #fff;
    text-transform: capitalize;
    border: 10px;
    font-size: 18px;
    width: 60%;
    border-radius: 10px;
}

.cor1{
    background-color: gray;
}

.cor2{
    background-color: rgb(224, 124, 84);
}

.cor3{
    background-color: aliceblue;
    color: black!important;
}

.cor4{
    background-color: green;
}

.cor5{
    background-color: brown;
}

.cor6{
    background-color: gray;
    color: black!important;
}

.cor7{
    background-color: green;
}

.cor8{
    background-color: white;
    color: black!important;
}

.cor9{
    background-color: silver;
    color: black!important;
}

.cor10{
    background-color: red;
}

.cor11{
    background-color: blue;
}

.cor12{
    background-color: green;
}

.cor13{
    background-color: yellow;
    color: black!important;
}

.cor14{
    background-color: purple;
}

.cor15{
    background-color: rgb(91, 255, 255);
}

.cor16{
    background-color: orange;
}

.cor17{
    background-color: black;
}

.cor18{
    background-color: pink;
}


::placeholder{
    color: black;
    opacity: 1;
}
::-ms-input-placeholder{
    color: black;
}
:-ms-input-placeholder{
    color: black;
}

@media screen and (max-width:768px){
    .pokemon-box{width: 100%; text-align: center;}
    .pokemon-box img{max-width: 300px;}
}